.content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  height: 18rem;
  width: 18rem;
}

.content_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.content_img:hover {
  background-color: rgb(247, 144, 0);
  color: #fff;
  transition: all 0.2s;
}

.content_text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  word-break: break-all;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  transition: all 0.2s;
}
.content_text:hover {
  background-color: rgb(247, 144, 0);
  color: #fff;
  transition: all 0.2s;
}

.content_author {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  word-break: break-all;
  border: 1px solid black;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_body {
  width: 400px;
  height: 400px;
  background-color: rgb(224, 224, 224);
  padding: 25px;
}

.modal_close {
  text-align: end;
}

.modal_text,
.modal_img {
  height: 70%;
  width: 100%;
  background-color: white;
  margin-top: 5%;
}

.modal_author {
  text-align: end;
}
