.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
}

.content {
    /* font-family: "Unbounded", cursive; */
    display: flex;
    align-items: center;

    margin: 0rem 1rem;

    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: -0.02rem;
}

.img {
    max-width: 6rem;
}

.mainMenu {
    display: flex;
}