.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.section_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3 0 0;

  width: 100%;
  height: 100%;
}
.section_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 7 0 0;

  width: 100%;
  height: 100%;
  /* position: relative; */
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  width: 100%;
  height: 100%;
}
.title > h1 {
  font-size: 3.5rem;
}
.title > p {
  margin-bottom: 1rem;

  font-size: 0.9rem;
}

.moo_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  position: relative;
}
.moo_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  /* position: absolute; */
  transition: all ease 0.5s;
}
.moo_text > h1,
.moo_text > p {
  color: white;
  z-index: 999;
}
/* .moo_img:hover + .moo_text  {
    display: block;
    background-color: aqua;
    transition: all ease 0.5s;
} */

/* .mooMain_img:hover + .mooMain_text {
    display: block;
} */

.min_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: #fff; */
  width: 100%;
  height: 100%;
}
.min_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moo {
  width: 7rem;
}
.min {
  width: 7rem;
}
