.main {
  font-family: "SUIT-Regular";
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.BackSpaceDiv {
  margin-top: 3rem;
  margin-bottom: 3rem;
}


.button {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  border: none;
  border-radius: 50rem;
  padding: 0.5rem 1rem;
  background-color: rgb(3, 103, 3);
  color: white;
}
.button:hover {
  background-color: rgb(234, 132, 29);
}
.button:active {
  background-color: rgb(194, 102, 11);
}

.draw {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
  border: none;

  margin-bottom: 0.6rem;
  padding: 1rem;
  width: 75vw;
  height: 4rem;

  border: 1px solid black;
  color: rgb(0, 0, 0);
  font-size: 0.7rem;
  transition: all 0.2s;
}
.draw:hover {
  background-color: rgb(247, 144, 0);
  color: #fff;
  transition: all 0.2s;
}
.draw:active {
  background-color: rgb(4, 124, 16);
  transition: all 0.2s;
}

.canvas {
  background-color: #fff;
}

.input {
  margin-bottom: 0.6rem;
  display: flex;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  resize: none;
  outline: none;
  border: none;
  border: 1px solid black;
}

.color {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.89rem;
}

.red {
  width: 100%;
  padding: 0.3rem;
  border: none;
  background-color: #e4491e;
  color: #fff;
}

.orange {
  width: 100%;
  padding: 0.3rem;
  border: none;
  background-color: #fba818;
  color: #fff;
}

.yellow {
  width: 100%;
  padding: 0.3rem;
  border: none;
  background-color: #fce72b;
  color: #fff;
}

.green {
  width: 100%;
  padding: 0.3rem;
  border: none;
  background-color: #73d573;
  color: #fff;
}

.blue {
  width: 100%;
  padding: 0.3rem;
  border: none;
  background-color: #48b0ff;
  color: #fff;
}

.puple {
  width: 100%;
  padding: 0.3rem;
  border: none;
  background-color: #9768f6;
  color: #fff;
}

.white {
  width: 100%;
  padding: 0.3rem;
  border: none;
  background-color: #ffffff;
  color: #000000;
}

.black {
  width: 100%;
  padding: 0.3rem;
  border: none;
  background-color: #000000;
  color: #fff;
}
