* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Guest {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  height: 100%;
}

.newGuest {
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding-right: 5%;
  padding-left: 5%;
}

.dataGuest {
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 90%;
  padding: 4% 4% 4% 0;
  overflow: auto;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column-reverse;
  border: 1px solid black;
  height: 40%;
  width: 20%;
  margin-left: 5%;
  margin-bottom: 5%;
}
