* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Guest {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  height: 100%;
}

.newGuest {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding-right: 5%;
  padding-left: 5%;
}

.dataGuest {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 90%;
  padding: 4% 4% 4% 0;
  overflow: auto;
}

.button {
  display: flex;
  align-items: center;

  font-size: 0.7rem;
  border: none;
  border-radius: 50rem;
  padding: 0.5rem 1rem;

  background-color: rgb(3, 103, 3);
  color: white;
}
.button:hover {
  background-color: rgb(234, 132, 29);
}
.button:active {
  background-color: rgb(194, 102, 11);
}
