*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Guest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newGuest{
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 0;
}

.dataGuest{
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 9 0 0;
}

.content{
    display: flex;
    border: 1px solid black;
}