.main {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */

    width: 100%;
    height: 100%;
}


.name {
    flex: 1 0 0;

    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    font-size: 0.9rem;
    font-weight: 800;

    padding: 1rem;
}

.moo {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    margin-right: 1rem;
    transition: all 0.3s;
}
.moo > img {
    width: 3rem;
    margin-bottom: 1rem;
    margin-left: -0.5rem;
}
.moo > p,
.moo > a,
.moo > span {
    margin-top: 1rem;
    color: #5c5c5c;
    transition: all 0.3s;
}
.moo h1:hover {
    color: white;
    transition: all 0.3s;
}
.moo > p:hover,
.moo > a:hover,
.moo > span:hover {
    color: white;
    transition: all 0.3s;
    text-decoration: underline;
}

.min {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s;
}
.min > img {
    width: 3rem;
    margin-bottom: 1rem;
    margin-left: -0.5rem;
}
.min > p,
.min > a,
.min > span 
{
    margin-top: 1rem;
    color: #5c5c5c;
    transition: all 0.3s;
}
.min h1:hover {
    color: white;
    transition: all 0.3s;
}
.min > p:hover,
.min > a:hover,
.min > span:hover {
    color: white;
    transition: all 0.3s;
    text-decoration: underline;
}


.board {
    flex: 1 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board p {
    font-size: 3rem;
    font-weight: 800;
    margin: 1.5rem 0rem;

    transition: all 0.3s;
}
.board p:hover {
    color: white;
    text-decoration: underline;

    transition: all 0.3s;
}

