.newPost {
  display: flex;
  flex-direction: column;

  margin-top: 3rem;
  width: 100%;
  height: 80%;
}

.backspace {
  display: flex;
  justify-content: left;
}

.title {
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
  padding: 1rem;

  outline: none;
  border: none;
  border: 1px solid black;
}
