.main {
  display: flex;
  flex-direction: column;
  justify-content: top;

  width: 100%;
  height: 100%;

}

.backspace {
  margin-top: 3rem;
}
.content {
  overflow: scroll;
}

.title {
  cursor: default;

  display: flex;
  align-items: center;
  min-height: 4rem;

  background-color: rgb(4, 124, 16);
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;

  outline: none;
  border: none;
  border: 1px solid rgb(4, 124, 16);

  font-size: 0.8rem;
  color: #fff;
}

.body {
  align-items: center;
  min-height: 4rem;
  line-height: 1.5rem;

  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;

  outline: none;
  border: none;
  border: 1px solid black;

  font-size: 0.8rem;
}

.createAt {
  display: flex;
  align-items: center;
  height: 4rem;

  background-color: white;
  padding: 1rem;
  margin-bottom: 3rem;

  outline: none;
  border: none;
  border: 1px solid black;

  font-size: 0.8rem;
}

.backsubmit {
  display: flex;
  cursor: pointer;
}
