.main {
  font-family: "SUIT-Regular";
  display: flex;
  flex-direction: column;
  height: 100%;
}

.BackSpaceDiv {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.form {
  flex-direction: column;
  width: 100%;
  height: 72%;
}

.draw {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
  border: none;

  margin-bottom: 0.6rem;
  padding: 1rem;
  width: 75vw;
  height: 4rem;

  border: 1px solid black;
  color: rgb(0, 0, 0);
  font-size: 0.7rem;
  transition: all 0.2s;
}
.draw:hover {
  background-color: rgb(247, 144, 0);
  color: #fff;
  transition: all 0.2s;
}
.draw:active {
  background-color: rgb(4, 124, 16);
  transition: all 0.2s;
}

.input {
  margin-bottom: 0.6rem;
  display: flex;
  width: 100%;
  height: 4rem;
  padding: 1rem;

  outline: none;
  border: none;
  border: 1px solid black;
}

.textarea {
  display: flex;
  width: 100%;
  height: 65%;
  padding: 1rem;
  resize: none;

  outline: none;
  border: 1px solid black;
}
