.main {
  margin: 0;
  font-family: "SUIT-Regular";
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textarea {
  background-color: aqua;
  display: flex;
  width: 3rem;
  height: 3vh;
  padding: 1rem;
}



.button {
    width: 7vw;
    height: 3vh;
    margin: 1rem 0rem;
}
