.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75vw;
  height: 90vh;
  /* border: 1px solid black; */
}

.header {
  /* border: 1px solid black; */
  width: 100%;
}

.body {
  /* border: 1px solid black; */
  width: 100%;
  height: 0%;
  flex: 8 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  /* border: 1px solid black; */
  width: 100%;
  flex: 0.5 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
}

.nav {
  flex: 2 0 0;
  height: 100%;
  /* border: 1px solid black; */
}

.content {
  flex: 8 0 0;
  height: 100%;
  overflow: hidden;
  /* border: 1px solid black; */
}

.background {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  z-index: -999;
  filter: blur(4px);
  opacity: 0.5;
}
.background > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.backgroundColor {
  background-color: rgb(211, 205, 190);
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  z-index: -999;
  filter: blur(4px);
  opacity: 0.5;
}