@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@8.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #ecedf2;
  margin: 0;
  font-family: "SUIT-Regular";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #000000;
  text-decoration: none;
  text-decoration-line: none;
}

.ck.ck-reset_all,
.ck-editor__main {
  width: 100% !important;
}

.ck {
  border: none !important;
  /* border: 1px solid black !important;   */
}

.ck-editor {
  width: 100% !important;
  height: 72% !important;
}

.ck-editor__main,
.ck-content {
  height: 100% !important;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border: 1px solid black !important;
  outline: none !important;
}

/* outline: none;
border: none;
border: 1px;
box-shadow: 1px 1px 7px gainsboro;
border-radius: 0.2rem; */

